[data-md-color-scheme="default"] .md-header {
  background-color: rgba(255, 255, 255, 0.6) !important;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

[data-md-color-scheme="slate"] .md-header {
  background-color: rgba(30, 33, 41, 0.6) !important; 
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}


/* Buttons with proper contrast */
[data-md-color-scheme="default"] .md-header__button, 
[data-md-color-scheme="default"] .md-header__title {
  color: #000000 !important;
}
[data-md-color-scheme="slate"] .md-header__button, 
[data-md-color-scheme="slate"] .md-header__title {
  color: #ffffff !important;
}

.md-search__form {
  border-radius: 8px;
  transition: background-color 250ms;
}

[data-md-color-scheme="default"] .md-search__form {
  background-color: rgba(0, 0, 0, 0.07) !important;
}

[data-md-color-scheme="slate"] .md-search__form {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.md-search__form:focus-within {
  background-color: rgba(255, 255, 255, 0.2) !important;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
}

[data-md-color-scheme="default"] .md-search__icon,
[data-md-color-scheme="default"] .md-search__input::placeholder {
  color: #000000 !important;
}

/* LOGO */
.md-header__button.md-logo {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.md-header__button.md-logo img:not(.spinning-bob-overlay) {
  display: block;
  width: 40px; 
  height: 40px;
  border-radius: 8%;
  object-fit: cover;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  position: relative; 
  z-index: 5;
}

.md-header__button.md-logo .spinning-bob-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1); 
  
  width: 40px;
  height: 40px;
  border-radius: 8%;
  object-fit: contain;
  opacity: 0;
  z-index: 6;
  pointer-events: none;

  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.md-header__button.md-logo:hover .spinning-bob-overlay {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1.2);
}

.md-header__button.md-logo:hover img:not(.spinning-bob-overlay) {
  opacity: 0;
  transform: scale(1);
}